<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>朱罗纪公园</key>
	<string>斯皮尔伯格</string>
	<key>天空之城</key>
	<string>宫崎骏</string>
	<key>火影忍者</key>
	<string>岸本齐史</string>
	<key>海贼王</key>
	<string>萨芬萨芬</string>
</dict>
</plist>
