*.bak
*.back
*.swp
*.log
*~

node_modules

cache
CordovaLib
Debug-iphonesimulator
phonegap/*/build/include/Cordova
ios/*/*/libs

.meteor
.metadata
.DS_Store
._.DS_Store
.idea/

ThinkPHP
Temp
yii/framework
yii/yii_test/assets

www/think_shop_test/taobao-sdk-php-online_standard/

/symfony2/app/config/parameters.yml
/symfony2/app/bootstrap*
/symfony2/app/cache/*
/symfony2/app/logs/*
/symfony2/vendor/
/symfony2/composer.lock
/symfony2/composer
/symfony2/web/bundles/
/symfony2/web/tmp*
/symfony2/web/js/*
/symfony2/web/css/*
/symfony2/web/*.log
/symfony2/web/uploads
/symfony2/*/vendor
symfony2/*/web

ios/Formic/.git_bak/*
