<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
</head>
<body ng-app>
	<div ng-controller="HiController">
		<p>{{greeting}}</p>
		<p ng-bind="greeting"></p>
	</div>
	<form ng-submit="requestFunding()" ng-controller="SomeController">
		<input type="checkbox" ng-model="youCheckedIt">
		Starting: <input ng-change="computeNeeded()" ng-model="funding.startingEstimate">
		Recommendation: {{funding.needed}}
		<button>Fund my startup</button>
	</form>
	<script>
function SomeController($scope){
	$scope.youCheckedIt = true;
	$scope.funding = {startingEstimate: 0};
	$scope.computeNeeded = function(){
		$scope.funding.needed = $scope.funding.startingEstimate * 10;
	};
	//$scope.$watch('funding.needed', $scope.computeNeeded);
	$scope.$watch('funding.startingEstimate', $scope.computeNeeded);
	$scope.requestFunding = function(){
		window.alert('Sorry, please get more customers first.');
	}
}

function HiController($scope){
	$scope.greeting = 'Hi, everyone!';
}
	</script>
</body>
</html>