<!DOCTYPE html>
<html>
	<head>
		<title><block name="passport-title">后台登录页面</block></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page/common_passport.css">
		<block name="header-style"></block>
	</head>
	<body>
		<div id="body-container">
			<div class="body-inner">
				<div id="header">

				</div>
				<div id="body-main">
					<block name="body-main">

					</block>
				</div>
				<div id="footer">

				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.js"></script>
		<script type="text/javascript">
			var globalData = {};
			<block name="footer-data-js"></block>
		</script>
		<block name="footer-ext-js"></block>
	</body>
</html>