<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>重振球风</key>
	<string>莱昂·里皮</string>
	<key>无事生非</key>
	<string>埃里克斯·德尼索夫</string>
	<key>克莱默夫妇</key>
	<string>达斯丁·霍夫曼</string>
	<key>极品飞车</key>
	<string>亚伦·保尔伊莫琴·普茨</string>
	<key>水银蒸发令</key>
	<string>布鲁斯·威利斯</string>
	<key>了不起的盖茨比</key>
	<string>巴兹·鲁曼</string>
	<key>时空特警</key>
	<string>尚格·云顿</string>
	<key>失落的第九军团</key>
	<string>杰米·贝尔</string>
	<key>朱罗纪公园</key>
	<string>斯皮尔伯格</string>
	<key>天空之城</key>
	<string>宫崎骏</string>
	<key>火影忍者</key>
	<string>岸本齐史</string>
	<key>海贼王</key>
	<string>萨芬萨芬</string>
	<key>赏金杀手</key>
	<string>马修·马斯登</string>
</dict>
</plist>
