!!! 5
html
	head
		title
	body
		form(id="login-form", action=loginShowPath(), method="POST")
			| email:
			input(type="text", name="email")
			br

			| password:
			input(type="password", name="password")

			input(type="submit", value="登录")